{% extends 'base.html.twig' %}
{% block page_stylesheets %}
    <!-- site css-->
    {% stylesheets '@internal_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" >
    {% endstylesheets %}
{% endblock %}
{% block main %}
<div class="text-center col-xs-12 mar-bot-10">
    <div class="col-xs-12 col-sm-3 col-md-2 mar-top-10">
        <a href="{{path('internal_add_user')}}">
            <div class="col-xs-12 internal-home-item">
                <div>
                        Add New User
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 mar-top-10 mar-bot-10">
        <a href="{{path('internal_disable_user')}}">
            <div class="col-xs-12 internal-home-item">
                <div>
                    Disable User
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 mar-top-10 mar-bot-10">
        <a href="{{path('internal_add_building_to_project')}}">
            <div class="col-xs-12 internal-home-item">
                <div>
                    Add Building
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 mar-top-10 mar-bot-10">
        <a href="{{path('internal_assign_users')}}">
            <div class="col-xs-12 internal-home-item">
                <div>
                    Assign Users
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 mar-top-10 mar-bot-10">
        <a href="{{path('internal_user_logs')}}">
            <div class="col-xs-12 internal-home-item">
                <div>
                    Check User Logs
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-2 mar-top-10 mar-bot-10">
        <a href="{{path('internal_building_logs')}}">
            <div class="col-xs-12 internal-home-item">
                <div>
                    Check Building Logs
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
